.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-Grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-around;
        height: 11rem;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-Grey-dark-1);

    flex: 0 0 18%; // always use flex instead of flex-shrink + flex-grow + flex-basis. And flex-basis is always used for setting size of flex container. flex-grow = 0 - we dont want it to grow

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: #fff;

    flex: 1; // means flex-grow = 1 - grow as much as you can
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-Grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    padding: 3rem;
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1;

    display:flex;
    flex-direction: column;
    align-items: center;
}